%h3= "#{@movie.id}"
.form-field
  = simple_form_for :movie do |f|
    .form-group
      = f.input :title, label: false, placeholder: "Title", input_html: { class: 'form-control' }
    .form-group
      = f.input :service, label: false, placeholder: "Netflix, Prime, or YouTube TV", input_html: { class: 'form-control' }
    = f.button :button, type: :submit, class: "btn btn-info", value: "Save Movie"
