.forms-field
  = simple_form_for @movie, :url => @movie.new_record? ? url_for(action: 'create', controller: 'movies') : url_for(action: 'update', controller: 'movies') do |f|
    .form-group
      = f.input :title, required: true, label: "Movie", placeholder: "Title of Movie", input_html: { class: 'form-control form-required'}
      /= f.input :title, required: true, label: "Movie", placeholder: "Title of Movie", as: :search, data: {autocomplete_source: }, input_html: { class: 'form-control form-required'}
    .form-group
      = f.input :overview, required: false, label: "Overview of Movie", input_html: { class: 'form-control'}

    .form-group
      = f.input :service, required: false, label: "Service", collection: ["Amazon Prime", "Blu-ray", "Netflix", "YouTube TV"], input_html: { class: 'form-control form-required'}

    = f.button  :submit, class: "btn btn-info", value: "Save Movie"
