.container.button-head
  %h1= "Movie Home Page"
  %h3= "hi #{current_user.email}"
  .buttons
    .div
      /= link_to "What Should I Watch?", movie_user_random_path, class: "what-to-watch"
    .div
      %h5= link_to "Add Movie From List", movies_path, class: "add-movie"

.container.body-text
  .div
    %p= "#{@user_movies}"
