.container.button-head
  .buttons
    .div.button
      = link_to "What Should I Watch?", movie_random_path(@movies), class: "what-to-watch"
    .div
      %h5= link_to "Add Movie", new_movie_url, class: "add-movie"

.container.body-text
  .div.title-link
    %h1= "My List"
  .div.movie-list
    - @movies.each do |movie|
      .div.movie
        = link_to movie_path(movie[:id]), class: "movie-title" do
          %p="#{movie.title}".truncate(35)
          .clickable
            - if movie.photo?
              %img{ src: "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{movie.photo.to_s}" }
            - else
              .index-no-photo
                %p= "No Photo Available"
