.container
  %h1= "Movies are going to be here soon!"
  .div
    - @movies.each do |movie|
      = link_to "Title: #{movie.title}", movie_path(movie[:id])
      %p.service= "Service: #{movie.service}"
      %br
