.container
  %h1= "Movies are going to be here soon!"
  .div
    - @movies.each do |movie|
      = link_to "#{movie.title}", movie_path(movie[:id]), class: "movie-title"
      %p.service= "#{movie.service}"
