.container.show-container
  .show-info
    .show-content
      /puts "-----------------------------------#{@user_movie.title}"

      - if @movie.photo?
        .show-photo
          %img{ src: "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{@movie.photo.to_s}" }
        .show-words
          %h2.show-movie-title= "#{@movie.title}"
          .show-movie-info
            %p.overview= "#{@movie.overview}"
            %p.service= "Service: " + "#{@movie.service}"
            /%p.genre= "Genre: " + "#{@movie.genre}"
            %p.release_date= "Year Released: " + "#{@movie.release_date[0..3]}"
            /%p.runtime= "Runtime: #{@movie.runtime}"
            = link_to "Add Movie", movie_show_clicked_path(@movie), class: "btn btn-outline-success"
            = link_to "Remove Movie", user_movie_path, method: :delete, class: "btn btn-outline-danger"
      - else
        .show-no-photo
          .show-words
            %h2.show-movie-title= "#{@movie.title}"
            .show-movie-info
              %p.overview= "Overview: " + "#{@movie.overview}"
              %p.service= "Service: " + "#{@movie.service}"
              /%p.genre= "Genre: " + "#{@movie.genre}"
              /%p.runtime= "Runtime: #{@movie.runtime}"
    .show-buttons
      =link_to "My Movies", root_path, class: "btn btn-outline-primary"
      =link_to "Edit Movie", edit_movie_path, class: "btn btn-outline-warning"
      =link_to "All Movies", movies_path, class: "btn btn-outline-dark"
