.show-container
  .show-buttons
    .container
      =link_to "My Movies", root_path, class: "btn btn-lg btn-outline-light"
      =link_to "All Movies", movies_path, class: "btn btn-lg btn-outline-light"
  .show-info
    .show-content
      /puts "-----------------------------------#{@user_movie.title}"
      - user_movie = current_user.user_movies.where(movie_id: @movie.id).first
      - if @movie.photo?
        .show-photo
          %img{ src: "https://image.tmdb.org/t/p/w300_and_h450_bestv2/#{@movie.photo.to_s}" }
        .show-words
          %h2.show-movie-title= "#{@movie.title}"
          .show-movie-info
            %p.overview= "#{@movie.overview}"
            /%p.service= "Service: " + "#{@movie.service}"
            %p.genre= "Genre: " + "#{@movie.genre}"
            %p.release_date= "Year Released: " + "#{@movie.release_date[0..3]}"
          .div.bottom-form
            = render "form"
            /%p.runtime= "Runtime: #{@movie.runtime}"
            - if user_movie == nil
              /= link_to "Delete from Database", movie_path(@movie), method: :delete, class: "btn btn-outline-danger btn-add-delete"
              = link_to "Add Movie", movie_show_clicked_path(@movie), class: "btn btn-outline-success btn-add-delete"
            - else
              /= link_to "Add Service", edit_movie_path, class: "btn btn-outline-warning"
              = link_to "Remove Movie", user_movie_path(user_movie), method: :delete, class: "btn btn-outline-danger btn-add-delete"
      - else
        .show-no-photo
          .show-words
            %h2.show-movie-title= "#{@movie.title}"
            .show-movie-info
              %p.overview= "Overview: " + "#{@movie.overview}"
              /%p.service= "Service: " + "#{@movie.service}"
              %p.genre= "Genre: " + "#{@movie.genre}"
              /%p.runtime= "Runtime: #{@movie.runtime}"
              = link_to "Add Movie", movie_show_clicked_path(@movie), class: "btn btn-outline-success"
              = link_to "Edit Movie", edit_movie_path, class: "btn btn-outline-warning"
              = link_to "Remove Movie", user_movie_path, method: :delete, class: "btn btn-outline-danger"
