!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MoviePicker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      - if current_user
        .container
          .navbar-brand= link_to "My Library", root_path
          .navbar-brand= link_to "All Available Movies", movies_path

          -# - if user_signed_in?
          .nav.navbar-nav.navbar-left
            /%li= link_to "Add Movie", new_movie_url
          %p.navbar-text.pull-right
            = render 'search'
            %h5= "#{current_user.email}"
            .navbar-brand
              .navbar-link= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'

      - else
        .container
          .navbar-brand
            %h2= "MoviePicker"



      -#.container
        - if notice
          %p.alert.alert-success= notice
          - if alert
          %p.alert.alert-danger= alert
    = yield
